<section id="skills" class="container-fluid  skills-section ">

  <div class="row" data-aos="fade-up">
      <div class="col-md">
          <h2 class="titulo">HARD SKILLS & SOFT SKILLS</h2>
      </div>
  </div>


  <div class="container">
      <div class="row">
          <div class="col-md-12">
              <h3 class="progress-title">HTML</h3>
              <div class="progress">
                  <div class="progress-bar" style="width:65%; background:#ff8019;">
                      <div class="progress-value"></div>
                  </div>
              </div>
              <h3 class="progress-title">CSS</h3>
              <div class="progress">
                  <div class="progress-bar" style="width:60%; background:#2b62fc;">
                      <div class="progress-value"></div>
                  </div>
              </div>
              <h3 class="progress-title">JAVASCRIPT</h3>
              <div class="progress">
                  <div class="progress-bar" style="width:60%; background:#effd2b;">
                      <div class="progress-value"></div>
                  </div>
              </div>

              <h3 class="progress-title">TYPESCRIPT</h3>
              <div class="progress">
                  <div class="progress-bar" style="width:60%; background:#2034e9;">
                      <div class="progress-value"></div>
                  </div>
              </div>


              <h3 class="progress-title">BOOTSTRAP</h3>
              <div class="progress">
                  <div class="progress-bar" style="width:60%; background:#9b21ff;">
                      <div class="progress-value"></div>
                  </div>
              </div>

              <h3 class="progress-title">ANGULAR</h3>
              <div class="progress">
                  <div class="progress-bar" style="width:60%; background:#f31a1a;">
                      <div class="progress-value"></div>
                  </div>
              </div>

              <h3 class="progress-title">JAVA</h3>
              <div class="progress">
                  <div class="progress-bar" style="width:70%; background:#fd892b;">
                      <div class="progress-value"></div>
                  </div>
              </div>

              <h3 class="progress-title">SPRINGBOOT</h3>
              <div class="progress">
                  <div class="progress-bar" style="width:60%; background:#32c225;">
                      <div class="progress-value"></div>
                  </div>
              </div>


              <h3 class="progress-title">MySQL</h3>
              <div class="progress">
                  <div class="progress-bar" style="width:70%; background:#0e1a5f;">
                      <div class="progress-value"></div>
                  </div>
              </div>

              <hr>

              <h3 class="progress-title">Compromiso</h3>
              <div class="progress">
                  <div class="progress-bar" style="width:100%; background:#2bfd2b;">
                      <div class="progress-value"></div>
                  </div>
              </div>

              <h3 class="progress-title">Pensamiento crítico</h3>
              <div class="progress">
                  <div class="progress-bar" style="width:100%; background:#2bfd2b;">
                      <div class="progress-value"></div>
                  </div>
              </div>

              <h3 class="progress-title">Flexibilidad</h3>
              <div class="progress">
                  <div class="progress-bar" style="width:100%; background:#2bfd2b;">
                      <div class="progress-value"></div>
                  </div>
              </div>

              <h3 class="progress-title">Trabajo en equipo</h3>
              <div class="progress">
                  <div class="progress-bar" style="width:100%; background:#2bfd2b;">
                      <div class="progress-value"></div>
                  </div>
              </div>

              <h3 class="progress-title">Aprendizaje constante e independiente</h3>
              <div class="progress">
                  <div class="progress-bar" style="width:100%; background:#2bfd2b;">
                      <div class="progress-value"></div>
                  </div>
              </div>



          </div>




      </div>
  </div>



</section>
