<footer class="container-fluid" id="contact">
  <div class="container">
      <form class="form" action="#">
          <h2>CONTACTAME</h2>
          <input type="text" name="nombre" placeholder="Escribe tu nombre aquí... " required>
         <input type="email" name="email" placeholder="Un mail para contactarte..." required>
          <textarea name="mensaje"  cols="30" rows="5" placeholder="Escríbeme un mensaje aquí... " required></textarea>
          <button>Enviar</button>

      </form>


      <p>2022</p>
      <p>Desarrollado por <a target="_blank" href="https://www.linkedin.com/in/davidcarvallodev/">David
              Carvallo</a></p>

  </div>
</footer>
