<header>
  <nav class="navbar navbar-expand-lg bg-dark fixed-top ">
      <div class="container-fluid">
          <a class="navbar-brand" href="#">
              <img src="assets/img/logo2.png" alt="" width="110" height="60" class="d-inline-block align-text-top">

          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
              data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
              aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                  <li class="nav-item">
                      <a class="nav-link link-light" href="#about">Sobre mi</a>
                  </li>
                  <li class="nav-item link-dark">
                      <a class="nav-link link-light" href="#education">Educación</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link link-light" href="#experience">Experiencia</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link link-light" href="#projects">Proyectos</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link link-light" href="#skills">Hard & Soft Skills</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link link-light" href="#contact">Contacto</a>
                  </li>

              </ul>

              <button type="button" class="btn-redes float-start"><a target="_blank"
                      class="bi bi-linkedin link-light "
                      href="https://www.linkedin.com/in/davidcarvallodev/"></a></button>
              <button type="button" class="btn-redes float-start"><a target="_blank"
                      class="bi bi-github link-light " href="https://github.com/DavidCarvallo"></a></button>
              <button type="button" class="btn-redes float-start"><a target="_blank"
                      class="bi bi-instagram link-light" href="https://www.instagram.com/pawhpic/"></a></button>
              <button type="button" class="btn-login float-start">LOGIN</button>

          </div>
      </div>
  </nav>
  <div class="bg home">
  </div>

  <div class="container-fluid ">
      <h1>¡Bienvenido a mi Portfolio!</h1>
  </div>
</header>
