<section class="container-fluid experience-section degradado-gris escala-seccion" id="experience">
  <div class="row" data-aos="fade-up">
      <div class="col-md align-middle">
          <h2 class="titulo">EXPERIENCIA</h2>
      </div>
  </div>

  <div class="container-timeline">
      <!-- Linea vertical -->
      <div class="container__line-white" data-aos="fade-up" data-aos-duration="3000"></div>

      <!-- Contenedor de los elementos de la linea de tiempo -->
      <ul class="container__items">
          <!-- Cada elemento de la linea de tiempo -->
          <li class="container__item">
              <!-- circulo y titulo -->
              <div class="container__top">
                  <!-- circulo -->
                  <div class="container__circle-white" data-aos="zoom-out-right"></div>

                  <!-- Título -->
                  <div class="container__title">
                      <img class="img-logos img-fluid img-thumbnail" src="assets/img/GoCode-logo.jpg" alt="logo ONE">
                      <h3> <a class="" target="_blank" href="https://www.gocode.ar/">
                              GoCode
                          </a></h3>
                      <h4>Full Stack Developer </h4>
                  </div>
              </div>

              <!-- Descripción -->
              <div class="container__desc">
                  <p>GoCode es un grupo fundado por estudiantes del Argentina Programa, dedicado a la realización
                      de
                      paginas web para emprendimientos u organizaciones caritativas.</p>
                  <p>Ago 2022-actualidad</p>
              </div>
          </li>
      </ul>
  </div>
</section>
