<section class="container-fluid educacion-section escala-seccion" id="education">

  <div class="row" data-aos="fade-up">
      <div class="col-md align-middle">
          <h2 class="titulo">EDUCACION</h2>
      </div>
  </div>

  <div class="container-timeline">
      <!-- Linea vertical -->
      <div class="container__line" data-aos="fade-up" data-aos-duration="3000"></div>

      <!-- Contenedor de los elementos de la linea de tiempo -->
      <ul class="container__items">
          <!-- Cada elemento de la linea de tiempo -->
          <li class="container__item">
              <!-- circulo y titulo -->
              <div class="container__top">
                  <!-- circulo -->
                  <div class="container__circle" data-aos="zoom-out-right"></div>

                  <!-- Título -->
                  <div class="container__title">
                      <img class="img-logos img-fluid img-thumbnail" src="assets/img/unne-logo.jpg" alt="logo UNNE">
                      <h3><a target="_blank" href="https://exa.unne.edu.ar/r/?page_id=8382">
                              Universidad Nacional del Nordeste
                          </a></h3>

                      <h4>Licenciatura en Matemática</h4>
                  </div>
              </div>

              <!-- Descripción -->
              <div class="container__desc">

                  <p>feb 2018-actualidad</p>
              </div>
          </li>

          <li class="container__item">
              <!-- circulo y titulo -->
              <div class="container__top">
                  <!-- circulo -->
                  <div class="container__circle" data-aos="zoom-out-right"></div>

                  <!-- Título -->
                  <div class="container__title">
                      <img class="img-logos img-fluid img-thumbnail" src="assets/img/logo.jpg"
                          alt="logo argentina programa">
                      <h3> <a target="_blank"
                              href="https://www.argentina.gob.ar/produccion/transformacion-digital-y-economia-del-conocimiento/argentina-programa">
                              Argentina Programa
                          </a></h3>

                      <h4>Full Stack Developer Jr.</h4>
                  </div>
              </div>

              <!-- Descripción -->
              <div class="container__desc">
                  <p>Argentina Programa es un curso avalado por el Ministerio de Desarrollo Productivo, la Cámara
                      de la Industria Argentina del Software (CESSI) y el Instituto Nacional de Tecnología
                      Industrial (INTI) que consta de dos partes, la primera #SeProgramar donde se adquieren los
                      fundamentos básicos de la programación y #YoProgramo donde se profundizan los conocimientos
                      y se adquieren las habilidades y herramientas necesarias para convertirse en programadores
                      web full-stack junior.</p>
                  <p>Nov 2021-Ene 2023</p>
              </div>
          </li>

          <li class="container__item">
              <!-- circulo y titulo -->
              <div class="container__top">
                  <!-- circulo -->
                  <div class="container__circle" data-aos="zoom-out-right"></div>

                  <!-- Título -->
                  <div class="container__title">
                      <img class="img-logos img-fluid img-thumbnail" src="assets/img/one-logo.jpg" alt="logo ONE">
                      <h3><a target="_blank" href="https://www.oracle.com/ar/education/oracle-next-education/">
                              Oracle Next Education
                          </a></h3>
                      <h4>Jr. Developer</h4>
                  </div>
              </div>

              <!-- Descripción -->
              <div class="container__desc">
                  <p>ONE es un programa de educación y empleabilidad con el objetivo social de formar personas en
                      tecnología y conectarlas con el mercado laboral a través de a través de empresas
                      colaboradoras.</p>
                  <p>Jul 2022- Ene 2023</p>
              </div>
          </li>
      </ul>
  </div>

</section>
