<section class="container-fluid projects-section escala-seccion" id="projects">
  <div class="row" data-aos="fade-up">
      <div class="col-md">
          <h2 class="titulo">PROYECTOS</h2>
      </div>
  </div>

  <div class="caja">
      <div class="card-py">
          <h2>
              1
          </h2>
      </div>

      <div class="card-py">
          <h2>
              2
          </h2>
      </div>

      <div class="card-py">
          <h2>
              3
          </h2>
      </div>

      <div class="card-py">
          <h2>
              4
          </h2>
      </div>

      <div class="card-py">
          <h2>
              5
          </h2>
      </div>
  </div>
</section>
