<section class="container-fluid about-section degradado-gris escala-seccion" id="about">
  <div class="row">
      <div class="col-md">
          <img data-aos="zoom-out-right" src="assets/img/perfil2.jpeg" class="img-fluid perfil" alt="foto de perfil">
      </div>
      <div class="tarjeta col-md ">
          <h2 class="titulo" data-aos="zoom-in-up"> SOBRE MI</h2>
          <h3>Hola! soy David Carvallo <br><br> <span class="fsdeveloper" data-aos="zoom-out-right">Full Stack
                  Developer Jr.</span></h3>
          <br>
          <p class="card-text">Desarrollador en constante aprendizaje, estudiante de Matemática y Fotógrafo
              amateur.</p>
      </div>
  </div>
</section>
